NodeRed_RaspPi.json
[
    {
        "id": "e92fe930.f41d78",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3fb30573.d36dfa",
        "type": "debug",
        "z": "e92fe930.f41d78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "900a3860.132758",
        "type": "BLE",
        "z": "e92fe930.f41d78",
        "name": "BLE",
        "topic": "BLE",
        "uuid": "0280e100346f",
        "temperature": true,
        "humidity": true,
        "accelerometer": true,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "3fb30573.d36dfa",
                "72fa11a9.54d08",
                "6eb5ea12.7ba544",
                "755cf2de.07defc"
            ]
        ]
    },
    {
        "id": "1f0d9624.a9245a",
        "type": "mqtt out",
        "z": "e92fe930.f41d78",
        "name": "",
        "topic": "Boraillie/Temp",
        "qos": "",
        "retain": "",
        "broker": "ff05e6ee.ad9f98",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "72fa11a9.54d08",
        "type": "function",
        "z": "e92fe930.f41d78",
        "name": "",
        "func": "if(msg.payload.temperature){\n    var t = { payload : msg.payload.temperature }\n    return t;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "1f0d9624.a9245a"
            ]
        ]
    },
    {
        "id": "d822d2fd.42dd9",
        "type": "mqtt out",
        "z": "e92fe930.f41d78",
        "name": "",
        "topic": "Boraillie/Hum",
        "qos": "",
        "retain": "",
        "broker": "ff05e6ee.ad9f98",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "6eb5ea12.7ba544",
        "type": "function",
        "z": "e92fe930.f41d78",
        "name": "",
        "func": "if(msg.payload.humidity){\n    var t = { payload : msg.payload.humidity }\n    return t;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 360,
        "wires": [
            [
                "d822d2fd.42dd9"
            ]
        ]
    },
    {
        "id": "10b278ff.d5f8c7",
        "type": "mqtt in",
        "z": "e92fe930.f41d78",
        "name": "",
        "topic": "Boraillie/led",
        "qos": "2",
        "broker": "fe26d137.2ce5f",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "1d0322d4.dc959d"
            ]
        ]
    },
    {
        "id": "1d0322d4.dc959d",
        "type": "change",
        "z": "e92fe930.f41d78",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "c77d831a.832",
                "900a3860.132758",
                "d98702c4.49aed"
            ]
        ]
    },
    {
        "id": "c77d831a.832",
        "type": "rpi-gpio out",
        "z": "e92fe930.f41d78",
        "name": "",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "ce5efc9a.52adc",
        "type": "mqtt out",
        "z": "e92fe930.f41d78",
        "name": "",
        "topic": "Boraillie/Acc",
        "qos": "",
        "retain": "",
        "broker": "ff05e6ee.ad9f98",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "755cf2de.07defc",
        "type": "function",
        "z": "e92fe930.f41d78",
        "name": "",
        "func": "if(msg.payload.x){\n    var t = { payload : msg.payload }\n    return t;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 420,
        "wires": [
            [
                "ce5efc9a.52adc",
                "69114b54.f165e4",
                "8847047f.e16e08"
            ]
        ]
    },
    {
        "id": "d98702c4.49aed",
        "type": "debug",
        "z": "e92fe930.f41d78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "dc02cfc6.f072f",
        "type": "http request",
        "z": "e92fe930.f41d78",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/intrusion/with/key/b2S5yxtWCcmYvI2C4v1LMv",
        "tls": "",
        "x": 1830,
        "y": 520,
        "wires": [
            [
                "ee001a1d.cdb8f8"
            ]
        ]
    },
    {
        "id": "ee001a1d.cdb8f8",
        "type": "debug",
        "z": "e92fe930.f41d78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1990,
        "y": 520,
        "wires": []
    },
    {
        "id": "e6b5b59a.daca78",
        "type": "mqtt in",
        "z": "e92fe930.f41d78",
        "name": "",
        "topic": "Boraillie/arming",
        "qos": "2",
        "broker": "fe26d137.2ce5f",
        "x": 220,
        "y": 560,
        "wires": [
            [
                "ce05b7f7.4e0888",
                "d9215b0f.ea6be8"
            ]
        ]
    },
    {
        "id": "69114b54.f165e4",
        "type": "file",
        "z": "e92fe930.f41d78",
        "name": "",
        "filename": "acc",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 910,
        "y": 480,
        "wires": [
            [
                "6c0dbccd.b9bd34"
            ]
        ]
    },
    {
        "id": "ce05b7f7.4e0888",
        "type": "file in",
        "z": "e92fe930.f41d78",
        "name": "",
        "filename": "acc",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 390,
        "y": 560,
        "wires": [
            [
                "4052a056.0dd59"
            ]
        ]
    },
    {
        "id": "81c76.7a09638a8",
        "type": "file",
        "z": "e92fe930.f41d78",
        "name": "",
        "filename": "armedAcc",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 840,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "8847047f.e16e08",
        "type": "file in",
        "z": "e92fe930.f41d78",
        "name": "",
        "filename": "armedAcc",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 880,
        "y": 520,
        "wires": [
            [
                "8cc78cd8.fc307",
                "4554d0aa.4ad6d"
            ]
        ]
    },
    {
        "id": "75c94763.98b358",
        "type": "function",
        "z": "e92fe930.f41d78",
        "name": "",
        "func": "val = JSON.parse(msg.payload[1][1]);\nisArmed = JSON.parse(msg.payload[1][0]);\n\nvar x = Math.pow(msg.payload[0].x-val.x,2);\nvar y = Math.pow(msg.payload[0].y-val.y,2);\nvar z = Math.pow(msg.payload[0].z-val.z,2);\n\nvar deplacement = Math.sqrt(x+y+z);\nvar msg1={};\n\n\nif(deplacement > 50 && isArmed){\n    msg1.payload = [0, msg.payload[1][1]];\n    return msg1;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1510,
        "y": 480,
        "wires": [
            [
                "4f408b2b.1afa74",
                "1a18079f.dd3338"
            ]
        ]
    },
    {
        "id": "6c0dbccd.b9bd34",
        "type": "join",
        "z": "e92fe930.f41d78",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1370,
        "y": 480,
        "wires": [
            [
                "75c94763.98b358",
                "7c33b530.92174c"
            ]
        ]
    },
    {
        "id": "8cc78cd8.fc307",
        "type": "json",
        "z": "e92fe930.f41d78",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "9ff3c045.171b1",
                "142bf467.dcc2ac"
            ]
        ]
    },
    {
        "id": "b54304f9.b27548",
        "type": "join",
        "z": "e92fe930.f41d78",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 560,
        "wires": [
            [
                "81c76.7a09638a8",
                "6c2c276a.882bf8"
            ]
        ]
    },
    {
        "id": "6c2c276a.882bf8",
        "type": "debug",
        "z": "e92fe930.f41d78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "d9215b0f.ea6be8",
        "type": "function",
        "z": "e92fe930.f41d78",
        "name": "",
        "func": "var msg1={};\nmsg1.payload = 1;\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 640,
        "wires": [
            [
                "b54304f9.b27548"
            ]
        ]
    },
    {
        "id": "4f408b2b.1afa74",
        "type": "debug",
        "z": "e92fe930.f41d78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1670,
        "y": 480,
        "wires": []
    },
    {
        "id": "9ff3c045.171b1",
        "type": "delay",
        "z": "e92fe930.f41d78",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1190,
        "y": 520,
        "wires": [
            [
                "6c0dbccd.b9bd34"
            ]
        ]
    },
    {
        "id": "7c33b530.92174c",
        "type": "debug",
        "z": "e92fe930.f41d78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1550,
        "y": 380,
        "wires": []
    },
    {
        "id": "4052a056.0dd59",
        "type": "delay",
        "z": "e92fe930.f41d78",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "b54304f9.b27548"
            ]
        ]
    },
    {
        "id": "142bf467.dcc2ac",
        "type": "debug",
        "z": "e92fe930.f41d78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1230,
        "y": 600,
        "wires": []
    },
    {
        "id": "4554d0aa.4ad6d",
        "type": "debug",
        "z": "e92fe930.f41d78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1030,
        "y": 620,
        "wires": []
    },
    {
        "id": "1a18079f.dd3338",
        "type": "file",
        "z": "e92fe930.f41d78",
        "name": "",
        "filename": "armedAcc",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1640,
        "y": 520,
        "wires": [
            [
                "dc02cfc6.f072f"
            ]
        ]
    },
    {
        "id": "ff05e6ee.ad9f98",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fe26d137.2ce5f",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]