NodeRed_RaspPi.json
[
    {
        "id": "bbfbb831.f73ad8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ecb3e62b.3d90e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a238fa91.1138f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "907bb123.95fe08",
        "type": "debug",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "b3b55357.71e758",
        "type": "BLE",
        "z": "bbfbb831.f73ad8",
        "name": "BLE",
        "topic": "BLE",
        "uuid": "0280e100346f",
        "temperature": true,
        "humidity": true,
        "accelerometer": true,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "907bb123.95fe08",
                "ed2b97ab.107a",
                "d2b8e0.6183d72",
                "899da4.b649126"
            ]
        ]
    },
    {
        "id": "a83b15cb.a7ad38",
        "type": "mqtt out",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "topic": "Boraillie/Temp",
        "qos": "",
        "retain": "",
        "broker": "ecb3e62b.3d90e8",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "ed2b97ab.107a",
        "type": "function",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "func": "if(msg.payload.temperature){\n    var t = { payload : msg.payload.temperature }\n    return t;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "a83b15cb.a7ad38"
            ]
        ]
    },
    {
        "id": "80e95853.5b9ae8",
        "type": "mqtt out",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "topic": "Boraillie/Hum",
        "qos": "",
        "retain": "",
        "broker": "ecb3e62b.3d90e8",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "d2b8e0.6183d72",
        "type": "function",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "func": "if(msg.payload.humidity){\n    var t = { payload : msg.payload.humidity }\n    return t;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 360,
        "wires": [
            [
                "80e95853.5b9ae8"
            ]
        ]
    },
    {
        "id": "96b92d0d.e6ab6",
        "type": "mqtt in",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "topic": "Boraillie/led",
        "qos": "2",
        "broker": "a238fa91.1138f8",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "a0b4a656.c1f898"
            ]
        ]
    },
    {
        "id": "a0b4a656.c1f898",
        "type": "change",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "c044b179.7125d",
                "b3b55357.71e758"
            ]
        ]
    },
    {
        "id": "c044b179.7125d",
        "type": "rpi-gpio out",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "28aa45c.eaec2ba",
        "type": "mqtt out",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "topic": "Boraillie/Acc",
        "qos": "",
        "retain": "",
        "broker": "ecb3e62b.3d90e8",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "899da4.b649126",
        "type": "function",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "func": "if(msg.payload.x){\n    var t = { payload : msg.payload }\n    return t;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 420,
        "wires": [
            [
                "28aa45c.eaec2ba",
                "a6b08288.55487"
            ]
        ]
    },
    {
        "id": "a6b08288.55487",
        "type": "debug",
        "z": "bbfbb831.f73ad8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 500,
        "wires": []
    }
]