NodeRed_PClocal.json
[
    {
        "id": "cfe5aa4b.f38fe8",
        "type": "tab",
        "label": "ecriture dans db",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b0c768ea.dd4568",
        "type": "tab",
        "label": "recherche dans db",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f89843d6.07ea4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4568d7c3.4b6ab8",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "capteurs",
        "name": ""
    },
    {
        "id": "a3dfa968.0424a8",
        "type": "mqtt in",
        "z": "cfe5aa4b.f38fe8",
        "name": "",
        "topic": "Boraillie/Temp",
        "qos": "2",
        "broker": "f89843d6.07ea4",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "c1f718e8.68ec88"
            ]
        ]
    },
    {
        "id": "702d6fe5.0f319",
        "type": "debug",
        "z": "cfe5aa4b.f38fe8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "5b326526.55c53c",
        "type": "function",
        "z": "cfe5aa4b.f38fe8",
        "name": "Ajout date",
        "func": "var date = new Date();\nmsg.payload = {temp: msg.payload, date: date.toLocaleDateString(), time: date.toLocaleTimeString()};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "702d6fe5.0f319",
                "f647c3e2.9c5d2"
            ]
        ]
    },
    {
        "id": "c1f718e8.68ec88",
        "type": "delay",
        "z": "cfe5aa4b.f38fe8",
        "name": "filtrage",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "5b326526.55c53c"
            ]
        ]
    },
    {
        "id": "f647c3e2.9c5d2",
        "type": "mongodb out",
        "z": "cfe5aa4b.f38fe8",
        "mongodb": "4568d7c3.4b6ab8",
        "name": "insert Temp",
        "collection": "Temp",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "9cbcec21.ce96a",
        "type": "function",
        "z": "b0c768ea.dd4568",
        "name": "Query",
        "func": "var query = {date:{$eq:msg.payload}};\nmsg.payload = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 284,
        "y": 91,
        "wires": [
            [
                "26f5e1ea.d29d1e",
                "f631d18b.885a8",
                "a0904e90.3ccc4"
            ]
        ]
    },
    {
        "id": "26f5e1ea.d29d1e",
        "type": "mongodb in",
        "z": "b0c768ea.dd4568",
        "mongodb": "4568d7c3.4b6ab8",
        "name": "Find Temp",
        "collection": "Temp",
        "operation": "find",
        "x": 440,
        "y": 91,
        "wires": [
            [
                "3c72ad6e.4da382",
                "da2367e2.af48b8"
            ]
        ]
    },
    {
        "id": "da2367e2.af48b8",
        "type": "mqtt out",
        "z": "b0c768ea.dd4568",
        "name": "",
        "topic": "Boraillie/AffTemp",
        "qos": "",
        "retain": "",
        "broker": "f89843d6.07ea4",
        "x": 711,
        "y": 91,
        "wires": []
    },
    {
        "id": "3c72ad6e.4da382",
        "type": "debug",
        "z": "b0c768ea.dd4568",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 685,
        "y": 20,
        "wires": []
    },
    {
        "id": "7f57572b.2f9518",
        "type": "mqtt in",
        "z": "b0c768ea.dd4568",
        "name": "",
        "topic": "Boraillie/query",
        "qos": "2",
        "broker": "f89843d6.07ea4",
        "x": 123,
        "y": 91,
        "wires": [
            [
                "9cbcec21.ce96a"
            ]
        ]
    },
    {
        "id": "fb6fda02.76b8a8",
        "type": "mqtt in",
        "z": "cfe5aa4b.f38fe8",
        "name": "",
        "topic": "Boraillie/Hum",
        "qos": "2",
        "broker": "f89843d6.07ea4",
        "x": 129,
        "y": 352,
        "wires": [
            [
                "536f57f5.ebe3b8"
            ]
        ]
    },
    {
        "id": "db764186.02016",
        "type": "debug",
        "z": "cfe5aa4b.f38fe8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 699,
        "y": 272,
        "wires": []
    },
    {
        "id": "355d03ca.48665c",
        "type": "function",
        "z": "cfe5aa4b.f38fe8",
        "name": "Ajout date",
        "func": "var date = new Date();\nmsg.payload = {hum: msg.payload, date: date.toLocaleDateString(), time: date.toLocaleTimeString()};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 459,
        "y": 352,
        "wires": [
            [
                "db764186.02016",
                "fd4f35c2.a8eb38"
            ]
        ]
    },
    {
        "id": "536f57f5.ebe3b8",
        "type": "delay",
        "z": "cfe5aa4b.f38fe8",
        "name": "filtrage",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 289,
        "y": 352,
        "wires": [
            [
                "355d03ca.48665c"
            ]
        ]
    },
    {
        "id": "fd4f35c2.a8eb38",
        "type": "mongodb out",
        "z": "cfe5aa4b.f38fe8",
        "mongodb": "4568d7c3.4b6ab8",
        "name": "insert Hum",
        "collection": "Hum",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 709,
        "y": 352,
        "wires": []
    },
    {
        "id": "f631d18b.885a8",
        "type": "mongodb in",
        "z": "b0c768ea.dd4568",
        "mongodb": "4568d7c3.4b6ab8",
        "name": "Find Hum",
        "collection": "Hum",
        "operation": "find",
        "x": 434,
        "y": 279,
        "wires": [
            [
                "982b89ee.06fea8",
                "98177245.839c9"
            ]
        ]
    },
    {
        "id": "98177245.839c9",
        "type": "mqtt out",
        "z": "b0c768ea.dd4568",
        "name": "",
        "topic": "Boraillie/AffHum",
        "qos": "",
        "retain": "",
        "broker": "f89843d6.07ea4",
        "x": 705,
        "y": 279,
        "wires": []
    },
    {
        "id": "982b89ee.06fea8",
        "type": "debug",
        "z": "b0c768ea.dd4568",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 689,
        "y": 208,
        "wires": []
    },
    {
        "id": "57c0e01e.10748",
        "type": "mqtt in",
        "z": "cfe5aa4b.f38fe8",
        "name": "",
        "topic": "Boraillie/Acc",
        "qos": "2",
        "broker": "f89843d6.07ea4",
        "x": 128,
        "y": 564,
        "wires": [
            [
                "886729c8.faf7a8"
            ]
        ]
    },
    {
        "id": "1a6e932e.e2bc6d",
        "type": "debug",
        "z": "cfe5aa4b.f38fe8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 698,
        "y": 484,
        "wires": []
    },
    {
        "id": "20facb41.0c0c04",
        "type": "function",
        "z": "cfe5aa4b.f38fe8",
        "name": "Ajout date",
        "func": "var date = new Date();\nmsg.payload = {acc: msg.payload, date: date.toLocaleDateString(), time: date.toLocaleTimeString()};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 458,
        "y": 564,
        "wires": [
            [
                "1a6e932e.e2bc6d",
                "8c99c575.561b38"
            ]
        ]
    },
    {
        "id": "886729c8.faf7a8",
        "type": "delay",
        "z": "cfe5aa4b.f38fe8",
        "name": "filtrage",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 288,
        "y": 564,
        "wires": [
            [
                "20facb41.0c0c04"
            ]
        ]
    },
    {
        "id": "8c99c575.561b38",
        "type": "mongodb out",
        "z": "cfe5aa4b.f38fe8",
        "mongodb": "4568d7c3.4b6ab8",
        "name": "insert Acc",
        "collection": "Acc",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 698,
        "y": 564,
        "wires": []
    },
    {
        "id": "a0904e90.3ccc4",
        "type": "mongodb in",
        "z": "b0c768ea.dd4568",
        "mongodb": "4568d7c3.4b6ab8",
        "name": "Find Acc",
        "collection": "Acc",
        "operation": "find",
        "x": 434,
        "y": 440,
        "wires": [
            [
                "1b4dc5a4.6e5dea",
                "e88e3a28.67fe88"
            ]
        ]
    },
    {
        "id": "e88e3a28.67fe88",
        "type": "mqtt out",
        "z": "b0c768ea.dd4568",
        "name": "",
        "topic": "Boraillie/AffHum",
        "qos": "",
        "retain": "",
        "broker": "f89843d6.07ea4",
        "x": 705,
        "y": 440,
        "wires": []
    },
    {
        "id": "1b4dc5a4.6e5dea",
        "type": "debug",
        "z": "b0c768ea.dd4568",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 689,
        "y": 369,
        "wires": []
    }
]